#{extends 'main.html' /}
#{set title:messages.get('menu.clients') /}
#{set page:'clients' /}

<div class="container">

  <div class="content">
    <h1>&{'clients.title'}</h1>

<div style="width:100%" class="mini">
<table id="clientsTable" class="zebra-striped">
 <thead>
  <tr>
   <th>Surname</th>
   <th>Name</th>
  </tr>
 </thead>
 <tbody>
    #{list items:clients, as:'client'}
      <tr>
       <td>${client.surname}</td>
       <td>${client.name}</td>
      </tr>
    #{/list}
 </tbody>
 <tfoot></tfoot>
</table>
</div>
    
  </div>

  <footer>
    <p>&copy; NeoSoft 2011</p>
  </footer>

</div> <!-- /container -->


<script type="text/javascript">
$(document).ready(function() {
    $('#clientsTable').dataTable();
} );
</script>

